.loading-screen
{
	padding-top: 30px;
}

.mobile-nav
{
	position: fixed;
	top: 0;
	left: 15px;
	right: 15px;

	background-color: #C0392B;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.mobile-nav-item
{
	text-align: center;
	padding: 10px 0px 0px 0px;
	user-select: none;

	transition: all 0.2s ease-in-out;
}

.mobile-nav-item-content
{
	padding-bottom: 5px;
	color: #fff;
}

.mobile-nav-item-base
{
	border-top: 3px solid #FFF;
	max-height: 8px;
	width: 0%;
	opacity: 0%;
	transition: all 0.2s ease-in-out;
}

.mobile-nav-item.active > .mobile-nav-item-base
{
	opacity: 1;
	width: 100%;
	transition: all 0.2s ease-in-out;
}

.mobile-content-wrapper
{
	position: fixed;
	top: 40px;
	left: 0px;
	right: 0px;
	height: calc(100% - 46px);
	overflow-y: scroll;
	overflow-x: hidden;
}

.submission-wrapper
{
	margin: 10px 7.5px 50px 7.5px;
}

.dimensions-wrapper, .total-load-wrapper
{
	background-color: #FBCB43;
}

.dimension-inputs
{
	width: 32%;
}

.dimension-inputs::-webkit-input-placeholder
{
	text-align: center;
	border: none;
	outline: none;
}

.dimension-inputs::-moz-placeholder
{
	text-align: center;
}

.dimension-inputs:-ms-input-placeholder
{
	text-align: center;
}

.dimension-inputs:-moz-placeholder
{
	text-align: center;
}

.dimension-fields
{
	padding-bottom: 10px;
}

.dimension-fields input
{
	text-align: center;
}

.dimension-fields input, .dimension-fields input:focus, .dimension-fields input:active
{
	border: none !important;
	outline: none !important;
	box-shadow: none  !important;
}

.origin-wrapper
{
	background-color: #77A7FB;
	color: #FFF;
}

.destination-wrapper
{
	background-color: #34B67A;
	color: #FFF;
}

.dimensions-wrapper
{
	background-color: #FBCB43;
	color: #333; 
}

.total-load-wrapper
{
	background-color: #E57368;
	color: #FFF;
}

#form-view > .quote-card, #filter-view > .quote-card, #detail-view > .quote-card
{
	margin-top: 10px;	
}

.airline-logo
{
	margin-top: -25px;
}

.airline-logo
{
	filter: drop-shadow(0px 0px 0.5px #222);
}


.connector
{
	margin-top: 10px;
	padding-bottom: 3px;
	border-bottom: 2px solid #E57368;
}

.connector-base
{
	margin-top: 3px;
}

#detail-view
{
	background-color: #FFF;
}