<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="favicon.ico">
		
		<link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="./lib/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="./css/quote-theme.css">
		<link rel="stylesheet" href="./css/styles.css">
	</head>
	<body ng-app="ticapp" ng-cloak>
		<div ng-controller="QuoteGeneratorController">
			<div class="container-fluid" ng-show="loading">
				<div class="row">
					<div class="col-xs-12 loading-screen">
						<div class="text-center">
							<h1>
								<img width="50%" src="./assets/images/tic-logo.gif"/>
							</h1>
						</div>
						<div class="text-center" ng-show="initiating">
							<h4>Starting Mobile Rates</h4>
							<p>
								Origin Airports <i ng-class="originBuffer()"></i> <br>
								Destination Airports <i ng-class="destinationBuffer()"></i>
							</p>
						</div>
						<div class="text-center" ng-show="!initiating">
							<h4>Loading Rate Data</h4>
							<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid" ng-show="!loading">
				<div class="row mobile-nav">
					<div class="row" ng-show="!detailView">
						<div class="col-xs-4 mobile-nav-item" ng-class="{'active':formView}" ng-click="newQuote()">
							<div class="mobile-nav-item-content">New</div>
							<div class="mobile-nav-item-base"></div>
						</div>
						<div class="col-xs-4 mobile-nav-item" ng-class="{'active':quoteView}" ng-show="quoteView||filterView" ng-click="showView('quotes')">
							<div class="mobile-nav-item-content">Results</div>
							<div class="mobile-nav-item-base"></div>
						</div>
						<div class="col-xs-4 mobile-nav-item" ng-class="{'active':filterView}" ng-show="quoteView||filterView" ng-click="showView('filter')">
							<div class="mobile-nav-item-content">Filter</div>
							<div class="mobile-nav-item-base"></div>
						</div>
					</div>
					<div class="col-xs-4 mobile-nav-item" ng-show="detailView" ng-click="showView('quotes')">
						<div class="mobile-nav-item-content text-left"><i class="fa fa-chevron-left" style="margin-left: 5px;"></i> Back</div>
						<div class="mobile-nav-item-base"></div>
					</div>
				</div>
				<div class="mobile-content-wrapper" id="form-view" ng-show="formView">
					<div class="quote-card quote-card-green">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<h2>Airports</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<h4>Origin</h4>
									<div class="form-group">
										<input class="form-control" ng-model="originAirport" uib-typeahead="originAirportObject as originAirportObject.DisplayName for originAirportObject in filterByAirport(originAirportList, $viewValue, true) | limitTo:5"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<h4>Destination</h4>
									<div class="form-group">
										<input class="form-control" ng-model="destinationAirport" uib-typeahead="destinationAirportObject as destinationAirportObject.DisplayName for destinationAirportObject in filterByAirport(destinationAirportList, $viewValue, false) | limitTo:5"/>
										<label class="control-label">{{}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="quote-card quote-card-yellow">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<h2>Total Load</h2>
									<div class="form-group">
										<label class="control-label">Number of Packages</label>
										<input class="form-control" ng-model="quantity" type="number"/>
									</div>
									<div class="form-group">
										<label class="control-label">Total Length/Width/Height (
											<span class="dropdown">
												<a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">{{dimensionUnit}}</a>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
													<li><a ng-click="setDimensionsUnit('cm')">cm</a></li>
													<li><a ng-click="setDimensionsUnit('in')">in</a></li>
												</ul>
											</span>
											)</label>
										<div class="form-control dimension-fields">
											<input placeholder="L" class="dimension-inputs" ng-model="dimensions.length" type="number"/>
											<input placeholder="W" class="dimension-inputs" ng-model="dimensions.width" type="number"/>
											<input placeholder="H" class="dimension-inputs" ng-model="dimensions.height" type="number"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Weight
										(
											<span class="dropdown">
												<a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">{{weightUnit}}</a>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
													<li><a ng-click="setWeightUnit('kg')">kg</a></li>
													<li><a ng-click="setWeightUnit('lb')">lb</a></li>
												</ul>
											</span>
										)
										</label>
										<input class="form-control" ng-model="rawWeight" type="number"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="quote-card quote-card-blue">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<h2>Summary</h2>
									<div class="form-group">
										<label class="control-label">Volume</label>
										<h2>{{volume()}} cm<sup>3</sup></h2>
									</div>
									<div class="form-group">
										<label class="control-label">Volumetric Weight</label>
										<h2>{{volumeWeight()}} kg</h2>
									</div>
									<div class="form-group">
										<label class="control-label">Weight</label>
										<h2>{{weight()}} kg</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="quote-card quote-card-green">
						<button class="btn btn-success form-control" ng-disabled="!canGetQuote()" ng-click="getQuotes()">Get Quotes</button>
					</div>
				</div>
				<div class="mobile-content-wrapper" id="list-view" ng-show="quoteView">
					<div class="quote-card container-fluid text-center" ng-repeat="operator in quotelist | filter:filterOperatorResults">
						<div class="row">
							<div class="col-xs-12">
								<img class="airline-logo" src="./assets/images/sq.png"/>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<h4>{{operator.AirlineName}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 text-left">
								{{originAirport.City}}
							</div>
							<div class="col-xs-6 text-right">
								{{destinationAirport.City}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<h3>
									{{originAirport.IATACode}}
								</h3>
							</div>
							<div class="col-xs-6">
								<div ng-show="operator.transitAirportCode != '0'" class="connector">
									{{operator.transitCity}}
								</div>
								<div ng-show="operator.transitAirportCode != '0'" class="connector-base">
									{{operator.transitAirportCode}}
								</div>
								<div ng-show="operator.transitAirportCode == '0'" class="connector">
									&nbsp;
								</div>
							</div>
							<div class="col-xs-3">
								<h3>
									{{destinationAirport.IATACode}}
								</h3>
							</div>
							<div class="col-xs-12">
								<hr/>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3" ng-repeat="(service, quotes) in operator.quotes"  ng-show="quotes.length > 0">
								<div>
									<h4 class="text-center">{{service}}</h4>
									<p class="text-center">{{quotes[0].toFixed(0)}}</p>
								</div>
							</div>	
						</div>
						<div class="row">
							<div class="col-xs-12 text-right">
								<div class="text-danger" ng-click="viewRoute(operator)">
									<p>Details <i class="fa fa-chevron-right"></i></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mobile-content-wrapper" id="detail-view" ng-show="detailView">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 text-center" style="margin-top:30px;">
							<img src="./assets/images/sq.png"/>
							<h2>{{currentOperator.AirlineName}}</h2>
							<small class="text-danger">{{currentOperator.agent}}</small>
						</div>
					</div>
					<div class="row text-left" style="margin-top:25px">
						<div class="col-xs-1 col-xs-offset-1"><i class="fa fa-phone text-success"></i></div>
						<div class="col-xs-9">+65-61234567 (Agent's Number)</div>
					</div>
					<div class="row text-left" style="margin-top:5px">
						<div class="col-xs-1 col-xs-offset-1"><i class="fa fa-envelope text-info"></i></div>
						<div class="col-xs-9">demo.email@example.com (Agent's Contact email)</div>
					</div>
					<div class="row text-left" style="margin-top:5px">
						<h3 class="col-xs-12 text-center">Computed Rates</h3>
						<div class="col-xs-12"><p class='text-info'>This is a list of rates computed based on the tables</p></div>
					</div>
					<div class="row text-left" style="margin-top:5px">
						<div class="col-xs-3" ng-repeat="(service, quotes) in currentOperator.quotes"  ng-show="quotes.length > 0">
							<div>
								<h4 class="text-center">{{service}}</h4>
								<p class="text-center">{{quotes[0].toFixed(0)}}</p>
							</div>
						</div>
					</div>
					<div class="row text-left" style="margin-top:5px">
						<h3 class="col-xs-12 text-center">Surcharges</h3>
						<div class="col-xs-12"><p>List of Surcharges like FSC and AWBs - can be listed and computed here</p></div>
					</div>
				</div>
			</div>
			<div class="mobile-content-wrapper" id="filter-view" ng-show="filterView">
				<div class="quote-card">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12">
								<h3>Filters</h3>
								<div class="form-group">
									<label class="control-label">Airlines</label>
									<select class="form-control" multiple ng-model="airlineFilterList">
										<option ng-repeat="airlineName in airlineList | orderBy:orderByAlphabets" value="{{airlineName}}">{{airlineName}}</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">Agents</label>
									<select class="form-control" multiple ng-model="agentFilterList">
										<option ng-repeat="agentCode in agentList | orderBy:orderByAlphabets" value="{{agentCode}}">{{agentCode==0?"No Agent":agentCode}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="./lib/jquery/jquery.min.js"></script>
		<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="./lib/angular/angular.min.js"></script>
		<script src="./lib/angular/angular-sanitize.min.js"></script>
		<script src="./lib/angular/angular-animate.min.js"></script>
		<script src="./lib/angular/angular-cookies.min.js"></script>
		<script src="./lib/angular-ui-router/angular-ui-router.min.js"></script>
		<script src="./lib/angular-file-upload/angular-file-upload.min.js"></script>
		<script src="./lib/moment/moment-with-locales.min.js"></script>
		<script src="./lib/ui-bootstrap/ui-bootstrap.min.js"></script>

		<script src="./js/main.js"></script>
		<script src="./js/airlinedirectory.js"></script>
		<script src="./js/quotegenerator.js"></script>
		<script src="./js/datamanager.js"></script>
		<script src="./js/countries.js"></script>
		<script src="./js/airline.js"></script>
	</body>
</html>