<div class="col-xs-10">
	<div class="row">
		<div class="col-xs-10">
			<h1>Vendor Directory</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="row view-control-bar">
				<div class="col-xs-3 view-control-bar-component view-control-search-input-wrapper">
					<input class="form-control view-control-search-input" placeholder="&#xf002; Search for Company or Country" ng-model="airlineFilterInput"/>
				</div>
				<div class="col-xs-2 view-control-bar-component" ng-class="{'active':isViewVisible('Quotes')}" ng-click="showView('Quotes')" ng-show="selectedVendor">
					<div class="form-control view-control-button text-center">
						Quotes
					</div>
				</div>
				<div class="col-xs-2 view-control-bar-component" ng-class="{'active':isViewVisible('Surcharges')}" ng-click="showView('Surcharges')"  ng-show="selectedVendor">
					<div class="form-control view-control-button text-center">
						Surcharges
					</div>
				</div>
				<div class="col-xs-2 view-control-bar-component" ng-class="{'active':isViewVisible('Profile')}" ng-click="showView('Profile')"  ng-show="selectedVendor">
					<div class="form-control view-control-button text-center">
						Profile
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 list-group-component">
					<div class="row list-group-wrapper">
						<div class="scrolling-list-group">
							<div href="" class="list-group-item" ng-repeat="vendor in vendorList | orderBy: 'country'| AirlineFilter:airlineFilterInput" ng-class="isVendorSelected(vendor)" ng-click="selectVendor(vendor)">
								<div class="row">
									<div class="col-xs-12">
										<h4 class="list-group-item-heading">{{vendor.name}}</h4>
										<h5 class="list-group-item-text">{{vendor.country}}</h5>
										<h5 class="list-group-item-text">
											<i class="fa fa-plane" ng-show="vendor.air"></i> 
											<i class="fa fa-ship" ng-show="vendor.sea"></i> 
											<i class="fa fa-truck" ng-show="vendor.land"></i>
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-9">
					<div class="row" ng-show="!selectedVendor">
						<div class="col-xs-12 scrollable-column text-center" ng-show="loadingVendorData">
							<i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="margin-top: 15%;"></i>
							<h2>Loading Vendor Data</h2>
							<h2>Please Wait</h2>
						</div>
						<div class="col-xs-12 scrollable-column text-center" ng-show="!loadingVendorData">
							<h2 style="margin-top: 15%;">Select a Vendor <br>to continue</h2>
						</div>
					</div>
					<div class="row" ng-show="isViewVisible('Profile')">
						<div class="col-xs-6 scrollable-column">
							<div class="panel-wrapper">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h4>Company Profile</h4>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-xs-12 form-group">
												<label class="control-label">
													Company Name
												</label>
												<p>
													{{selectedVendor.name}}
												</p>
											</div>
										</div>	
										<div class="row">
											<div class="col-xs-6 form-group">
												<label class="control-label">
													Website
												</label>
												<div>
													<a target="_blank" ng-href="vendorLink(selectedVendor.website)">{{selectedVendor.website}}</a>
												</div>	
											</div>
											<div class="col-xs-6 form-group">
												<label class="control-label">
													Country
												</label>
												<p>
													{{selectedVendor.country}}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-show="isViewVisible('Quotes')">
						<div class="col-xs-12 scrollable-column">
							<div class="panel-wrapper">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h4>Places</h4>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-xs-6 form-group">
												<label class="control-label">
													Origin
												</label>
												<input class="form-control" ng-model="originInput"/>
											</div>
											<div class="col-xs-6 form-group">
												<label class="control-label">
													Destination
												</label>
												<input class="form-control" ng-model="destinationInput"/>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-wrapper">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h4>Shipment Calculator</h4>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-xs-4 form-group">
												<label class="control-label">
													Calculate by:
												</label>
												<select class="form-control" id="shipmentCalculatorType" ng-model="shipmentCalculatorType">
													<option value="unit">Unit</option>
													<option value="total">Total Shipment</option>
												</select>
											</div>
										</div>
										<div class="row" ng-show="shipmentCalculatorType=='unit'">
											<div class="col-xs-12">
												Unit
											</div>
										</div>
										<div class="row" ng-show="shipmentCalculatorType=='total'">
											<div class="col-xs-12">
												Total (this would auto summarise if possible)
											</div>
										</div>
									</div>
								</div>
							</div>
							<div ng-repeat="route in selectedVendor.routes">
								<div class="panel-wrapper">
									<div class="panel panel-primary">
										<div class="panel-heading">
											<h4>{{route.destination}} ({{route.destinationCode}})</h4>
										</div>
										<div class="panel-body" ng-show="!route.editing">
											<div class="row">
												<div class="col-xs-12 text-right">
													<h4 ng-click="editRoute(route)"><a>Edit Route</a></h4>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<table class="table table-hover">
														<tr ng-repeat="service in route.services|limitTo:1">
															<th>
																Service
															</th>
															<th>
																Code
															</th>
															<th class="text-center" ng-repeat="rate in service.rates">
																+{{rate.weight}}{{route.weightDenomination}}
															</th>
														</tr>
														<tr ng-repeat="service in route.services">
															<td>
																{{service.name}}
															</td>
															<td>
																{{service.code}}
															</td>
															<td class="text-center" ng-repeat="rate in service.rates">
																{{displayCost(rate.cost)}}
															</td>
														</tr>
													</table>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12 text-right">
													Last Updated: {{displayDate(route.editedTimeStamp)}}
												</div>
											</div>
										</div>
										<div class="panel-body" ng-show="route.editing">
											<div class="row">
												<div class="col-xs-4 form-group">
													<label class="control-label">
														Origin
													</label>
													<input class="form-control" ng-model="editingRoute.origin"/>
												</div>
												<div class="col-xs-2 form-group">
													<label class="control-label">
														Code
													</label>
													<input class="form-control" ng-model="editingRoute.originCode"/>
												</div>
												<div class="col-xs-offset-2 col-xs-2 form-group">
													<label class="control-label">
														Currency
													</label>
													<input class="form-control" ng-model="editingRoute.currencyDenomination"/>
												</div>
												<div class="col-xs-2 form-group">
													<label class="control-label">
														Weight Unit
													</label>
													<input class="form-control" ng-model="editingRoute.weightDenomination"/>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-4 form-group">
													<label class="control-label">
														Destination
													</label>
													<input class="form-control" ng-model="editingRoute.destination"/>
												</div>
												<div class="col-xs-2 form-group">
													<label class="control-label">
														Code
													</label>
													<input class="form-control" ng-model="editingRoute.destinationCode"/>
												</div>
											</div>
											<div class="row" ng-repeat="service in editingRoute.services">
												<div class="col-xs-6">
													<h4><strong>{{service.name}} ({{service.code}})</strong></h4>
												</div>
												<div class="col-xs-12">
													<table class="table table-hover">
														<tr>
															<th>
																Weight
															</th>
															<td class="text-center" ng-repeat="rate in service.rates">
																<input ng-model="rate.weight" type="number"/>
															</td>
														</tr>
														<tr>
															<th>
																cost
															</th>
															<td ng-repeat="rate in service.rates" class="text-center">
																<input ng-model="rate.cost" type="number"/>
															</td>
														</tr>	
													</table>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-offset-3	col-xs-3">
													<button class="btn btn-primary form-control" ng-click="discardRouteChanges(route)">
														<i class="fa fa-trash"></i> Discard Changes
													</button>
												</div>
												<div class="col-xs-3">
													<button class="btn btn-primary form-control" ng-click="saveRouteChanges(route)">
														<i class="fa fa-save"></i> Save Changes
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>