<div class="container-fluid desktop-visible-wrapper">
	<div class="row">
		<div class="col-xs-4">
			<div class="card origin-wrapper">
				<h1>{{origin.city}}</h1>
				<h2>{{origin.airportName}} ({{origin.airportCode}})</h2>
				<p>{{origin.countryName}}</p>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="card destination-wrapper">
				<place></place>
				<h1>{{destination.city}}</h1>
				<h2>{{destination.airportName}} ({{destination.airportCode}})</h2>
				<p>{{destination.countryName}}</p>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="card total-load-wrapper">
				<h1>Total Load</h1>
				<p>
					<strong>Total Volume:</strong><br>
					L: {{quotedLoad.length}}{{quotedLoad.metric?'cm':'in'}}
					W: {{quotedLoad.width}}{{quotedLoad.metric?'cm':'in'}}
					H: {{quotedLoad.height}}{{quotedLoad.metric?'cm':'in'}}
					<br>V: {{quotedLoad.length*quotedLoad.width*quotedLoad.height}} {{quotedLoad.metric?'cm':'in'}}<sup>3</sup>
				</p>
				<div class="row">
					<div class="col-md-6"><p><strong>Volmetric Weight</strong><br>9999kg</p></div>
					<div class="col-md-6"><p><strong>Weight</strong><br> {{quotedLoad.weight}}{{quotedLoad.metric?'kg':'lb'}} </p></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row quote-list-item" data-ng-repeat="quote in quotes" ng-class-odd="'quote-list-item-odd'" ng-class-even="'quote-list-item-even'">
		<div class="col-md-3">
			<div class="row">
				<div class="col-xs-12">
					<h4>{{quote.airlineName}}</h4>
					<p ng-show="quote.agentCode != null">with {{quote.agentCode}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" ng-show="quote.transitLocationCode != null">
					<p><span><strong>Transiting at:</strong><br> {{quote.transitLocationName}} ({{quote.transitLocationCode}})</span><br>
					{{quote.transitLocationCity}},{{quote.transitLocationCountry}}</span></p>
				</div>
				<div class="col-xs-12" ng-show="!quote.transitLocationCode">
					<p>Direct Flight</p>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="table-header-type-1 text-center" ng-class="getQuoteColumn(quote)" ng-repeat="service in quote.quotes">
					<h4><u>{{service.type}}</u></h4>
					<p class="text-center">{{service.price}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mobile-visible-wrapper">
	<div class="container-fluid">
		<div class="col-xs-4 text-center mobile-top-toggle mobile-top-toggle-active">
			New Quote
		</div>
		<div class="col-xs-4 text-center mobile-top-toggle">
			Edit Quote
		</div>
		<div class="col-xs-4 text-center mobile-top-toggle">
			Hide Details
		</div>
	</div>
	<div class="mobile-top-scroller">
		<div class="origin-wrapper-mobile">
			<h2>Origin</h2>
			<div class="form-group">
				<label class="control-label">Country</label>
				<input class="form-control"/>
			</div>
			<div class="form-group">
				<label class="control-label">City</label>
				<input class="form-control"/>
			</div>
			<div class="form-group">
				<label class="control-label">Airport</label>
				<input class="form-control"/>
			</div>
		</div>
		<div class="destination-wrapper-mobile">
			<h2>Destination</h2>
			<div class="form-group">
				<label class="control-label">Country</label>
				<input class="form-control"/>
			</div>
			<div class="form-group">
				<label class="control-label">City</label>
				<input class="form-control"/>
			</div>
			<div class="form-group">
				<label class="control-label">Airport</label>
				<input class="form-control"/>
			</div>
		</div>
		<div class="total-load-wrapper-mobile">
			<h2>Dimension</h2>
			<div class="form-group">
				<label class="control-label">Length</label>
				<input class="form-control"/>
			</div>
			<div class="form-group">
				<label class="control-label">Width</label>
				<input class="form-control"/>
			</div>
			<div class="form-group">
				<label class="control-label">Height</label>
				<input class="form-control"/>
			</div>
		</div>
		<div class="total-load-wrapper-mobile">
			<h2>Weight</h2>
			<div class="form-group">
				<label class="control-label">Weight</label>
				<input class="form-control"/>
			</div>
			<div class="form-group">
				<label class="control-label">Number of Units</label>
				<input class="form-control"/>
			</div>
			<div class="form-group">
				<button class="btn form-control">Get Quote</button>
			</div>
		</div>
	</div>
	<div class="mobile-top-scroller">
		<div class="origin-wrapper-mobile">
			<h4>Origin</h4>
			<h1>Singapore</h1>
			<h2>Changi International Airport</h2>
			<p>Singapore, Singapore</p>
		</div>
		<div class="destination-wrapper-mobile">
			<h4>Destination</h4>	
			<h1>Shanghai</h1>
			<h2>Pudong International Airport</h2>
			<p>Shanghai, China PRC</p>
		</div>
		<div class="total-load-wrapper-mobile">
			<h1>Total Load</h1>
			<p><strong>Volume</strong><br>
			L: {{quotedLoad.length}}{{quotedLoad.metric?'cm':'in'}}
			W: {{quotedLoad.width}}{{quotedLoad.metric?'cm':'in'}}
			H: {{quotedLoad.height}}{{quotedLoad.metric?'cm':'in'}}<br>
			V: {{quotedLoad.length*quotedLoad.width*quotedLoad.height}}{{quotedLoad.metric?'cm':'in'}}<sup>3</sup>
			</p>
			<div class="row">
				<div class="col-xs-6">
					<strong>Volmetric Weight</strong><br>
					9999kg
				</div>
				<div class="col-xs-6">
					<strong>Weight</strong><br>
					{{quotedLoad.weight}}{{quotedLoad.metric?'kg':'lb'}}
				</div>
			</div>
		</div>
	</div>
	<div class="quote-list-item" data-ng-repeat="quote in quotes" ng-class-odd="'quote-list-item-odd'" ng-class-even="'quote-list-item-even'">
		<div class="quote-list-item-heading-wrapper">
			<h4>{{quote.airlineName}}</h4>
			<p ng-show="quote.transitLocationCode != null"><i class="fa fa-exchange"></i> {{quote.transitLocationName}} ({{quote.transitLocationCode}})<br>{{quote.transitLocationCity}},{{quote.transitLocationCountry}}</span></p>
			<p ng-show="quote.transitLocationCode == null">Direct Flight</p>
		</div>
		<div class="quote-list-item-heading-wrapper" ng-show="quote.agentCode != null">
			with {{quote.agentCode}}
		</div>
		<div class="quote-list-item-service-wrapper">
			<div class="quote-price-item" ng-repeat="service in quote.quotes">
				<h4><u>{{service.type}}</u></h4>
				<p class="text-center">{{service.price}}</p>
			</div>
		</div>
	</div>
</div>